/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana, arial, helvetica, sans-serif;
}

main{
	width: 80%;
	margin: 0 auto;
}

.flash{
	margin: 33px;
	font-size: 13px;
	color: #77BF3F;
}

h1{
	margin: 30px 0 10px;
	font-size: 1.5em;
}

span{
	font-weight: bold;
}

/*main*/
.books-table{
	width: 100%;
	margin: 30px 0;
	border-spacing: 2px;
	font-size: 13px;
}

th{
	padding-bottom: 5px;
}

.books-title{
	width: 30%;
}
.books-body{
	width: 45%;
}
.action{
	width: 25%;
}

/*top*/
.top-text{
	margin: 33px;
	font-size: 13px;
}
.headline{
	margin-bottom: 33px;
}

/*create*/
h2{
	font-size: 1em;
}

.new{
	padding: 15px 0 3px;
}

/*show*/
.show-main{
	margin: 33px;
	font-size: 13px;
}

.show-title, .show-body{
	margin: 0 0 33px 33px;
}

/*edit*/
.edit-main{
	margin: 33px;
}

.edit{
	padding: 15px 0 3px;
}

.move{
	padding: 20px 0;
}

